@import url(http://fonts.googleapis.com/css?family=Abel);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,blockquote {
	quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
	{
	display: block
}

* html {
	font-size: 100%
}

html {
	font-size: 16px;
	line-height: 1.5em
}

body {
	font-family: 'Open Sans', sans-serif;
	background: url("img/furley_bg/furley_bg.png") top left #f7f7f7;
	width: 984px;
	padding-left: 10px;
	background: url("img/furley_bg/furley_bg.png") top left #f7f7f7;
}

h1,h2,h3,h4,h5,h6,.site-title {
	color: #454546;
	font-family: 'Abel', sans-serif;
	line-height: 1.1em;
	margin: 0 0 0.5em;
	padding-top: 1em;
	clear: both
}

h1,.site-title {
	font-size: 300%;
	border-bottom: 2px solid #f60;
	padding-bottom: .1em
}

h1 {
	color: #2c2c2c
}

#frontpage-text h1 {
	padding-top: .2em
}

h2 {
	font-size: 200%;
	border-bottom: 1px solid #ddd;
	padding-bottom: .15em
}

h3 {
	font-size: 160%;
	border-bottom: 1px dotted #eee;
	padding-bottom: .15em
}

h4 {
	font-size: 150%
}

h5 {
	font-size: 130%;
	font-style: italic
}

h6 {
	font-size: 85%;
	font-weight: 400;
	color: #333;
	text-transform: uppercase
}

p {
	color: #454546;
	text-align: justify;
	font-weight: 300;
	margin-bottom: .7em
}

a {
	color: #f60;
	font-weight: 400;
	transition: all 2s;
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	text-decoration: none
}

a:hover {
	background: #f60;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	color: #fff
}

h1 a {
	width: 100%;
	display: block
}

ul {
	color: #444;
	list-style: square;
	margin: 0 1em 0 2em
}

.hr {
	height: 1px;
	width: 95%;
	margin: 2em auto;
	border-bottom: 1px solid #eee;
	clear: both
}

.thumbnail {
	margin-right: 2em
}

.post-image {
	margin: 0 0 1em
}

.col3 {
	width: 2662px;
	margin: 0 auto;
	overflow: hidden;
	*zoom: 1
}

.col-1-3 {
	display: inline;
	float: left;
	margin-right: 10px;
	width: 324px
}

* html .col-1-3 {
	overflow-x: hidden
}

::selection {
	background-color: #d60
}

::-moz-selection {
	background-color: #d60
}

img.attachment-gc-frontpage-featured,img.attachment-gc-full {
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.7);
	margin: 2em 0 2.5em
}

img.attachment-gc-frontpage-featured {
	margin: 2em 0 1em
}

a img {
	border: none;
	display: block
}

p img {
	margin-bottom: 0.5em
}

img.size-auto,img.size-full,img.size-large,img.size-medium,.attachment img,.widget-area img,.wp-caption
	{
	max-width: 100%;
	height: auto
}

.alignleft {
	margin-right: 1em;
	float: left
}

.alignright {
	margin-left: 1em;
	float: right
}

.aligncenter {
	clear: both;
	display: block;
	margin: auto
}

.wp-caption {
	text-align: center
}

.wp-caption img {
	margin-right: .25em
}

.wp-caption .wp-caption-text {
	font-size: 75%;
	text-align: center
}

.wp-smiley {
	margin: 0
}

.image-metadata {
	border: none;
	font-size: 90%
}

.image-metadata td {
	border: none;
	vertical-align: baseline;
	padding: 0.2em .5em
}

.image-meta-title {
	font-style: italic;
	width: 8em;
	text-align: right
}

.ez_cc_license_block {
	font-size: 70%;
	text-align: left
}

.ez_cc_license_block img {
	float: left;
	margin-right: 1em;
	margin-top: 1.5em
}

.ez_cc_license_block {
	margin-top: -1.5em
}